<a href="https://colab.research.google.com/github/mahtoamit/Python/blob/main/FEB09.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#WAP to print the number those are divisible of 3 and 5

n=int(input('Enter a Number: '))

for i in range(1,1+n):
  if i%3==0 and i%5==0:
    print(i,end=' ')

Enter a Number: 60
15 30 45 60

In [ ]:
#WAP to print the number betwen 1 to n those are divisible of 3 and 5

n=int(input('Enter a Number: '))

for i in range(1,1+n):
  if i%3==0 or i%5==0:
    print(i,end=' ')

Enter a Number: 60
3 5 6 9 10 12 15 18 20 21 24 25 27 30 33 35 36 39 40 42 45 48 50 51 54 55 57 60

In [ ]:
#WAP to print the table of number in following format.
#ex; 5*1=5

n=int(input('Enter a Number for which you want its Table: '))

for i in range(1,11):
  print(n, '*', i, '=',n*i)

Enter a Number for which you want its Table: 99
99 * 1 = 99
99 * 2 = 198
99 * 3 = 297
99 * 4 = 396
99 * 5 = 495
99 * 6 = 594
99 * 7 = 693
99 * 8 = 792
99 * 9 = 891
99 * 10 = 990

In [ ]:
#Continue Keyword:
     
  # --> It is used to skip the specific iteration of loop.
  # --> It terminates current iteration and start a new iteration.


for i in range(1,11):
    if i==5 or i==7:
      continue  #it will skip the number when i will be 5 and 7
    print(i,end=' ')

1 2 3 4 6 8 9 10

In [ ]:
#WAP to print number between 1 to 20 those are not divisible by 3 and 5.

for i in range(1,21):
  if i%3==0 or i%5==0:
    continue           #it will skip the number which are divisible by 3 and 5
  print(i,end=' ')

1 2 4 7 8 11 13 14 16 17 19

In [ ]:
#BREAK Keyword:

# --> Break is a keyword which is used to stop the loop 


for i in range(1,40):
  print(i,end=' ')
  if i==23:
    break;   # it will break/stop the program when the value of i==23

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23

In [ ]:
for i in range(1,40):
  if i==23:
    break;   # it will break/stop the program when the value of i==22
  print(i,end=' ')

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22

In [ ]:
 for nam in 'AMIT':
  if nam=='I':
    break   
  print(nam,end=' ')

A M

In [ ]:
# WHILE LOOP WITH ELSE STATEMENT:

# --> In while loop ELSE block of code will excecute if and only if while loop completes all the iteration.
# --> If while loop terminate/break before completing all ieration then only ELSE block code will not be execute.


i=1
while i<=10:
  if i==5:
    break
  print(i,end=' ')
  i += 1
else:
  print('While loop is completely executed.')

1 2 3 4

In [ ]:
# FOR LOOP WITH ELSE STATEMENT:

# --> In FOR loop ELSE block of code will excecute if and only if while loop completes all the iteration.
# --> If FOR loop terminate/break before completing all ieration then only ELSE block code will not be execute.


for i in range(4,41,4):
  if i%11==0:
    break
  print(i,end=' ')
else:
  print('For loop Completed ')

4 8 12 16 20 24 28 32 36 40 For loop Completed

In [ ]:
#WAP to check number is prime or not

#PRIME number:
# --> Prime is positive number which is divisible by 1 or itself.

n=int(input('Enter a number: '))

for i in range(2,n):
  if n%i==0:
    print(n, 'is not a Prime Number, it is divisible by', i)
    break
else:
  print(n, ' number is PRIME.')

Enter a number: 223
223  number is PRIME.

In [ ]:
#WAP to print prime number between 1 to 100

for n in range(1,100):    #range of number for checking prime
  for i in range(2,n):     # range divisor
    if n%i==0:
      break      #inner loop will break if condition is true
  else:
    print(n,end=' ')
else:
  print('Prime Numbers bewteen 1 to 100')

1 2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97 Prime Numbers bewteen 1 to 100