<a href="https://colab.research.google.com/github/mahtoamit/Python/blob/main/FEB15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# METHOD OF LIST IN DATA TYPES
'''
                                 TO ADD VALUES IN LIST

 1. APPEND --> It adds a single value at the end of a list
 2. INSERT --> It is use to add new single values at specify positions. example : insert(index,values)
 3. EXTEND --> It is use to add multople values into list at end of list always.

                                 TO DELETE VALUES IN LIST 

 4. POP --> It is use to remove the values from specify index. 
            --> But bydefault it removes last values if we not put the index.
           --> pop(index=-1)
           --> If index is out of range gives error in output as index error.
 5. REMOVE -->It is use to remove specifed elements from th list, if presnet otherwise gives error in output as Value Error.
                   --> remove(element)
 6. CLEAR --> It is used to remove all the elements in the list
                --> clear()
 7.index(value) -->  Return index of specified value.
                       --> If values are not found in list it gives error in output as Value Error.
 8. COUNT --> count(value)
                 --> It is use to count and return the specified values in a list.
                 --> If values are not found in list it will give 0 as a count.
 9. SORT --> For ascending order - sort()
               --> for descending order - sort(reverse=True)

'''

In [ ]:
#APPEND - BUILT-IN-METHOD OF LIST

l1=[7,8,6,44,35,22,12]
l1.append(9)
print(l1)

[7, 8, 6, 44, 35, 22, 12, 9]

In [ ]:
#INSERT 

l1.insert(3,777)
print(l1)

[7, 8, 6, 777, 44, 35, 22, 12, 9]

In [ ]:
#EXTEND

l1.extend([6324,452,6663,1212,5])
print(l1)

[7, 8, 6, 777, 44, 35, 22, 12, 9, 6324, 452, 6663, 1212, 5]

In [ ]:
#POP

l1.pop()
print('After pop without index: ', l1)

l1.pop(5)
print('After pop with index: ', l1)

After pop without index:  [7, 8, 6, 777, 44, 35, 22, 12, 9, 6324, 452, 6663]
After pop with index:  [7, 8, 6, 777, 44, 22, 12, 9, 6324, 452, 6663]

In [ ]:
#REMOVE

l1.remove(777)
print(l1)

[7, 8, 6, 44, 22, 12, 9, 6324, 452, 6663]

In [ ]:
#CLEAR

l2=[7,8,99,65]
l2.clear()
print(l2)

[]

In [ ]:
# index(values)

l3=[22,34,11,67,88,6,454,]
print('index of 88:', l3.index(88))

index of 88: 4

In [ ]:
# count(values)

l3=[22,11,11,67,88,6,11,498,55,63,11,]
print('Count of 11:', l3.count(11), )

Count of 11: 4

In [ ]:
# sort()

l3.sort()
print('After sorting the list:', l3)

l3.sort(reverse=True)
print('After sorting the list in reverse order :', l3)

After sorting the list: [6, 11, 11, 11, 11, 22, 55, 63, 67, 88, 498]
After sorting the list in reverse order : [498, 88, 67, 63, 55, 22, 11, 11, 11, 11, 6]

In [ ]:
#TUPLE:
'''
         --> It is advance data type of PYTHON.
         --> It is used to store multiple values in a single variable and sperated by comma.
         --> Tuple values are enclosed in ( ) Round Brackets.
         --> It is a default data type in advance type.
         --> Tuple allows the duplicate values.
         --> Tuple allows indexing start from 0.
         --> Tuple allows the negative indexing
         --> Tuple are INMUTABLE/UNCHANGEABLE/UNMODIFIED
         --> Tuples are fixed Data Types.

         Syntax 1:
                     variable_name=(value1,value2,value3.........)

                              Syntax 2:
                                         variable_name=value1,value2,value3..........


'''

In [ ]:
#Example of Tuple

t1=(1,2,55,667)
t2= 2,34,56,77,89

print('Tuple 1', t1, type(t1))
print('Tuple 2', t2, type(t2))

print('last value: ', t2[-2])

Tuple 1 (1, 2, 55, 667) <class 'tuple'>
Tuple 2 (2, 34, 56, 77, 89) <class 'tuple'>
last value:  77

In [ ]:
# TO GET THE Address of variable

a=2
print('a', a, 'Memory Address is - ', id(a))

b=7
print('b', b, 'Memory Address is - ', id(b))

a 2 Memory Address is -  94280444660256
b 7 Memory Address is -  94280444660416

In [ ]:
# TO GET THE Address of List

l1=[9,7,44]
print(l1,id(l1))
l2=[9,7,44]
print(l2,id(l2))

#list address should be always different

[9, 7, 44] 140287131359104
[9, 7, 44] 140287131829104

In [ ]:
# TO GET THE Address of TUPLE

t1=(9,7,44)
print(t1,id(t1))
t2=(9,7,44)
print(t2,id(t2))


#tuple address should be always same

(9, 7, 44) 140287131319744
(9, 7, 44) 140287132073408

In [ ]:
# METHOD OF TUPLE IN DATA TYPES
'''
 1. index(value) -->  Return index of specified value.
                       --> If values are not found in list it gives error in output as Value Error.
 2. COUNT --> count(value)
                 --> It is use to count and return the specified values in a list.
                 --> If values are not found in list it will give 0 as a count.

'''