<a href="https://colab.research.google.com/github/mahtoamit/Python/blob/main/FEB16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#SET:
'''
    --> Set is also advance datatype of PYTHON.
    --> Set is used to store the multiple values in a single variable and it is seperated by comma.
    --> Set values are enclosed in {} Curly Brackets.
    --> Set is collections of UNIQUE Values.
    --> Set is unorder.
    --> Set stored only inmutable data types. example : {1,7,[1,2]} - inside the set list are not allowed.
    --> Set is a MUTABLE Data Types.
    --> Set cannot created a nested set.
    --> Set does not allow the indexing because set is an unorder.
    --> Empty set are not created by using {}
    --> SYNTAX:
                 variable_name ={value1,value2,value3,............}

'''

In [ ]:
s1={12,1.1,True,'AMIT',0,False,7+7j}
print(s1)

{0, 1.1, True, 12, (7+7j), 'AMIT'}

In [ ]:
# METHOD OF SET IN DATA TYPES
'''
                                TO ADD VALUES IN A SET
1. add(value): It add the values in a set
2. update(iterable object): It is used to add another set or iterable object in current set.
                               
                               TO REMOVE VALUES IN A SET
3. remove(value): It is used to remove the value from set, if present otherwise it will give error in output as KEY Error.
4. discard(value): It is used to remove the values in a set, But if values are not present in a set it does not gives an Error.
5. pop(): It removes any random values from set.
6. clear(): It removes all values from set.
7. union(): Return a set containing union of sets.
8. intersection(): It is used to return set of common values of both set.
9. diffrence(): It returns uncommon values of 1st set only.
10. symmetric_difference(): It returns uncommon values of both set only.
11. intersection_update():
12. difference_update():
13. symmetric_difference_update():

'''

In [ ]:
#ADD

s2={1,9,7,3}
print(s2)

s2.add(44)
print('After adding value in a SET: ',s2)

s2.add('amit')
print('After adding string in a SET: ',s2)

{1, 3, 9, 7}
After adding value in a SET:  {1, 3, 7, 9, 44}
After adding string in a SET:  {1, 3, 'amit', 7, 9, 44}

In [ ]:
#UPADTE

s2.update({4,6,7,85,63})
print('After updating value in SET:', s2)


s2.update('AMIT')
print('After updating string in SET:', s2)

After updating value in SET: {1, 3, 'amit', 4, 6, 7, 9, 44, 85, 63}
After updating string in SET: {1, 3, 'amit', 4, 6, 7, 9, 'I', 44, 'M', 'A', 85, 'T', 63}

In [ ]:
#REMOVE

s2.remove(9)
print('After removing 9 in set:',s2)

After removing 9 in set: {1, 3, 'amit', 4, 6, 7, 'I', 'M', 'A', 85, 'T', 63}

In [ ]:
#DISCARD

s3={8,9,63,45,22}
s3.discard(9)
print('After discard:',s3)

#7 is not present in set then too it does not show an error.
s3.discard(7)
print('After discard :',s3)

After discard: {8, 45, 22, 63}
After discard : {8, 45, 22, 63}

In [ ]:
#POP

s3.pop()
print('After POP: ',s3)

After POP:  {45, 22, 63}

In [ ]:
#CLEAR

s3.clear()
print('After clear:',s3)

After clear: set()

In [ ]:
#INTERSECTION

s4={1,2,3,4}
s5={7,8,1,2,66}

s6=s4.intersection(s5)
print('s4',s4)
print('s5',s5)
print('s6',s6)

s4 {1, 2, 3, 4}
s5 {1, 2, 66, 7, 8}
s6 {1, 2}

In [ ]:
#DIFFERENCE

s6=s4.difference(s5)
print('s4',s4)
print('s5',s5)
print('s6',s6)

s4 {1, 2, 3, 4}
s5 {1, 2, 66, 7, 8}
s6 {3, 4}

In [ ]:
#SYMMETRIC DIFFERENCE

s6=s4.symmetric_difference(s5)
print('s4',s4)
print('s5',s5)
print('s6',s6)

s4 {1, 2, 3, 4}
s5 {1, 2, 66, 7, 8}
s6 {66, 3, 4, 7, 8}

In [ ]:
#intersection_update():

s1={1,3,7,8}
s2={3,7,9,6}
s1.intersection_update(s2)
print('After Intersection Update:',s1)
print('After Intersection Update:',s2)

After Intersection Update: {3, 7}
After Intersection Update: {9, 3, 6, 7}

In [ ]:
#difference_update():

s1.difference_update(s2)
print('After Difference Update:',s1)
print('After Difference Update:',s2)

After Difference Update: set()
After Difference Update: {9, 3, 6, 7}

In [ ]:
#symmetric_difference_update():

s1.symmetric_difference_update(s2)
print('After Symmetric Difference Update:',s1)
print('After Symmetric Difference Update:',s2)

After Symmetric Difference Update: {9, 3, 6, 7}
After Symmetric Difference Update: {9, 3, 6, 7}

In [ ]:
#RESEARCH OTHER METHOD OF SETS (HOMEWORK)
'''
1. isdsjoint() : Return whether 2 set have a intersection or not.
2. issubset() : Return whether another set contain this set or not.
3. issuperset() : Return whether this set contains another set or not

'''

In [ ]:
#SET OPERATION WITH OPERATOR

#INTERSECTION OPERATOR
s1={1,2,3,4,7}
s2={7,8,9,11}
s3=s1&s2
print(s3)

{7}

In [ ]:
#UNION OPERATOR
#nOTE: + OPERATOR NOT SUPPORTED IN SET
s1={1,2,3,4,7}
s2={7,8,9,11}
s3=s1|s2
print(s3)

{1, 2, 3, 4, 7, 8, 9, 11}

In [ ]:
#DIFFERENCE OPERATOR

s1={1,2,3,4,7}
s2={7,8,9,11}
s3=s1-s2
print(s3)

{1, 2, 3, 4}

In [ ]:
# SYMMETRIC DIFFERENCE OPERATOR
s1={1,2,3,4,7}
s2={7,8,9,11}
s3=s1^s2
print(s3)

{1, 2, 3, 4, 8, 9, 11}

In [ ]:
# DICTIONARY
'''
   --> It is also an advance datatype of PYTHON
   --> It is used to store a multple values in a pair form of KEY:VALUES
   --> Pairs of dictionary are enclosed in {} Curly Brackets.
   --> Pairs are sperated by comma and a key and values are seprated by colon.
   --> It is MUTUABLE DATA TYPE.
   --> It is Order.
   --> SYNTAX:
          variable_name={ Key:Value, key2:value,key3:value3,......}


RULES FOR KEY:
--> Key of dictionary cannot be duplicate.
--> Key of dictionary is Unique.
--> Key is always INMUTUABLE TYPE
--> Key is used as a index to fetch the value of respected key.

RULES FOR VALUE:
--> Duplicate values are allowed in dictionary.
--> Values of dictionary can be any type.

'''

In [ ]:
d1={1:1, 'brand': 3,(1,2):5}
print(d1)

{1: 1, 'brand': 3, (1, 2): 5}

In [ ]:
#EMPLOYEE INFORMATION

emp={'Id': 101, 'Name':'Ujwal Jain','Salary':500000}
print('Id: ',emp['Id'])
print('Name: ',emp['Name'])
print('Salary: ',emp['Salary'])

#here id,name,salary are keys
# here 101, Ujawal Jain, 30000 are values

Id:  101
Name:  Ujwal Jain
Salary:  500000

In [ ]:
#To add new key 

emp['Department']='AI Developer'
print(emp)

{'Id': 101, 'Name': 'Ujwal Jain', 'Salary': 500000, 'Department': 'AI Developer'}

In [ ]:
#To replace/update values in existing 

emp['Salary']=700000
print(emp)

{'Id': 101, 'Name': 'Ujwal Jain', 'Salary': 700000, 'Department': 'AI Developer'}