<a href="https://colab.research.google.com/github/mahtoamit/Python/blob/main/FEB13(HW).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#WAP To print the given pattern
# *
# **
# ***
# ****


for row in range(1,5):    
   for col in range(1,row+1):   
      print('*', end='')
   print()

*
**
***
****

In [ ]:
#WAP To print the given pattern
# ****
# ***
# **
# *


for row in range(1,5):    
   for col in range(row,5):   
      print('*', end='')
   print()

****
***
**
*

In [ ]:

for row in range(1,5):    
   for col in range(1,row+1):   
      print('*', end='')
   print()
for row in range(1,4):    
   for col in range(row,4):   
      print('*', end='')
   print()

In [6]:
#WAP to print 1-10 using for loop

for i in range(1,11):
  print(i, end=' ')

1 2 3 4 5 6 7 8 9 10

In [5]:
#WAP to print 10-1 using for loop

for i in range(0,10):
  print(10-i, end=' ')

In [ ]:
#WAP to print 10-1 using while loop
i = 10
while(i>0):
    print(i, end=' ')
    i -= 1

In [ ]:
#WAP to print 1-10 using while loop
i = 1
while(i<=10):
    print(i, end=' ')
    i += 1

In [ ]:
#WAP to calculate the factorial of number using for loop
n=int(input('Enter a Number to find a Factorial: '))
fact=1
for i in range(1, n+1):
  fact=fact*i
print('Factorial of a given number', n , 'is: ', fact)

In [ ]:
#WAP to calculate the factorial of number using WHILE loop
n=int(input('Enter a Number to find a Factorial: '))
fact=1
i=1
while i<=n:
  fact=fact*i
  i+=1
print('Factorial of a given number', n , 'is: ', fact)

In [ ]:
# WAP to add 1st nth natural using for loop


n = int(input(' Enter number : '))

print('Natural numbers from 1 to', n, 'is: ')

for i in range(1, n + 1):
    print(i, end=" ")

 Enter number : 8
Natural numbers from 1 to 8 is:
1 2 3 4 5 6 7 8

In [8]:
# WAP to add 1st nth natural using for loop

n=int(input('Enter a number: '))

if n < 0:
   print("Enter a positive number")
else:
   sum = 0
   while(n > 0):
       sum += n
       n -= 1
   print("The sum is", sum)

Enter a number: 20
The sum is 210

In [ ]:
x=2**2**3**1
print(x)

256