<a href="https://colab.research.google.com/github/mahtoamit/Python/blob/main/FEB14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#PASS KEYWORD:
"""
    Pass is a reserved keyword of PYTHON  to create a empty block of code.
    i.e. when we dont want to write execute code inside any block we can use the pass keyword.
"""

i=445
if i%2==0:
  pass
print('GOODBYE!!!!!!')

# because pass keyword above if block of code is empty.

GOODBYE!!!!!!

In [ ]:
#Membership Operators in Python:

"""
   There are 2 membership operator in python
      1. in
            --> in operator is used with for statement to iterate the  iterable object(collection of values).
            --> in operator is also used with if statement to check the left oprand is present in right oprand.


      2. not in 
            --> not in vise versa to the in operator.
          
"""

In [ ]:
#EXAMPLE OF MEMEBERSHIP OPERATOR 

name="AMIT MAHTO"
for ch in name:          #here ch is charcater and values will be stored in this ch.
   if ch!=' ':           # this is used because to SKIP the space between AMITT and MAHTO
      print(ch , end=" ")

A M I T M A H T O

In [ ]:
#MEMBERSHIP OPERATOR WITH IF STATEMENT

name = 'AMIT'
ch='h'
if ch in name:
  print('h is Present in Name. name=', name)
else:
    print('h is not Present in Name. name=', name)

h is not Present in Name. name= AMIT

In [ ]:
#WAP to count vowels of user enter name?

name=str(input('Enter a NAME: '))
v=0
for ch in name:                   #ch is left operand and name is right operand. here we fetch one one charcter from name
  if ch in 'aeiouAEIOU':          # here we check ch value is present or not in right str
    v +=1
print('Total Vowel in',name , 'is: ', v)

Enter a NAME: amit
Total Vowel in amit is:  2

In [ ]:
#Advance Data Type of PYTHON

"""
    There are 5 type of advance data type which are as follows:
      1. List
      2. Tuple
      3. Set
      4. Dict (Dictionary)
      5. String (str)


      --> Advance data type are used to store multiple value into single variable.
"""

In [ ]:
#List:

'''
     --> List is advance data type of Python.
     --> List is used to store multiple values ans seperated by comma , in a single variable.
     --> List is always enclosed in a SQUARE BRACKET [].
     --> List allows to store any types of values like(boolean,int,float etc). It is also known as hetrogenous collection 
     --> List allows indexing to access value of it.
     --> List index is start from 0.
     --> List allows insertion order to store data. means (it will be in sequence order)
     --> List allows DUPLICATE values.
     --> List is the MUTABLE/CHANGEABLE/MODIFIER DATA TYPE.
     --> Syntax of List is: 
             variable_name = [value1, value2, value3, .....]
'''

In [ ]:
#EMPTY LIST

l1=[]
print('list: ',l1)

list:  []

In [ ]:
# To get type of List

l1=[]
print('list: ',l1, 'type:- ',type(l1))

list:  [] type:-  <class 'list'>

In [ ]:
#Multiple values stored in list

l2=[1,1.5,'amit',True,2+7j]
print('list: ',l2)

list:  [1, 1.5, 'amit', True, (2+7j)]

In [ ]:
#NESTED LIST

l2=[1,1.5,'amit',True,2+7j,[777]]
print('list: ',l2)

list:  [1, 1.5, 'amit', True, (2+7j), [777]]

In [ ]:
# DUBLICATE VALUES ALLOWED:

l3=[1,2,7,7,6,9,2,6,7,3,5]
print('list: ',l3)

list:  [1, 2, 7, 7, 6, 9, 2, 6, 7, 3, 5]

In [ ]:
# List is Iterable Object:

l4=[1,2,7,7,6,7,3,5]
for i in l4:
  print(i, '=', i**2)

1 = 1
2 = 4
7 = 49
7 = 49
6 = 36
7 = 49
3 = 9
5 = 25

In [ ]:
#List allows indexing and index start from 0
# Python list allows negative index also.
# This negative index start from end of list

l5=[1,27,7,77,6,7,34,5]

print(len(l5))
print('7th values of list 5 is: ', l5[6])
print('7th values of list 5 is: ', l5[-7])

print('First value using postive index', l5[0])
print('First value using negative index', l5[-len(l5)])

print('Last value using Positive index', l5[len(l5)-1])
print('Last value using Negative index', l5[-1])

8
7th values of list 5 is:  34
7th values of list 5 is:  27
First value using postive index 1
First value using negative index 1
Last value using Positive index 5
Last value using Negative index 5

In [ ]:
#WAP to iterate each value of list by using index.

l6=[1,27,7,77,6,7,34,5]
for index in range(8):
  print(l6[index])

1
27
7
77
6
7
34
5

In [ ]:
# Length (len) function
# here len() is built-in function which used to count the length

l6=[1,27,7,77,6,7,34,5]
print(len(l6))

8

In [ ]:
#WAP To print each value of list using negative index.
#WAP To print even value of list
#WAP to count and print even and odd values of list
#WAP To print sum of all values without using a built-in function

In [1]:
#WAP To print even value of list

l1=[7,89,63,22,49,78,0,93,666,888]
for i in l1:
  if i % 2 == 0:
        print(i, end=" ")

22 78 0 666 888

In [7]:
#WAP to count and print even and odd values of list
l1 = [45,63,22,19,78,99,111,28]
  
even=0 
odd = 0
n = 0
while(n < len(l1)):  
    if l1[n] % 2 == 0:          # checking condition
        even += 1
    else:
        odd += 1 
    n += 1
print("Even numbers in the list are : ", even)
print("Odd numbers in the list are : ", odd)

Even numbers in the list are :  3
Odd numbers in the list are :  5