<a href="https://colab.research.google.com/github/mahtoamit/Python/blob/main/FEB17.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# METHOD OF DICTIONARIES IN DATA TYPES
'''

1. keys(): It is used to get a set of all keys which is present in dictionary.
2. values(): It is used to get all the values which is present in dictionary.
3. items(): It is used to get all the tuple of  keys and values of a dictionary.
4. get(key): It is used to get values of specidied key from dictionary.
5. pop(key): It is used to remove specified key with value from dictionary.
6. popitem(): It is used to remove last pair/item from dictionary.
7. clear(): It will remove everything from dictionary.

'''

In [ ]:
#KEYS():

d1={
    'Book Id' : 1111,
    'BookName' : 'Core Python',
    'Book Price' : 750
}

print(d1.keys())

dict_keys(['Book Id', 'BookName', 'Book Price'])

In [ ]:
#VALUES():

print(d1.values())

dict_values([1111, 'Core Python', 750])

In [ ]:
#ITEMS()

print(d1.items())

dict_items([('Book Id', 1111), ('BookName', 'Core Python'), ('Book Price', 750)])

In [ ]:
#1st Method - To get keys using for loop

for i in d1:
  print(i, end=": ")
  print(d1[i])

Book Id: 1111
BookName: Core Python
Book Price: 750

In [ ]:
#2nd Method - To get keys using for loop

for i in d1.keys():
  print(i, end=": ")
  print(d1[i])

Book Id: 1111
BookName: Core Python
Book Price: 750

In [ ]:
# To get values using for loop
for i in d1.values():
  print(i)

1111
Core Python
750

In [ ]:
# To get pair items using for loop
for k,v in d1.items():
  print(k, '=', v)

Book Id = 1111
BookName = Core Python
Book Price = 750

In [ ]:
#GET(KEY):

print(d1.get('BookName'))

Core Python

In [ ]:
#POP(KEY)

print(d1.pop('BookName'))

Core Python

In [ ]:
#POPITEM():

d1.popitem()
print(d1)

{'Book Id': 1111}

In [ ]:
#CLEAR():

d1.clear()
print(d1)

{}

In [ ]:
# research different types of method of dictionary (homework)

                                                                                             ---------------------- END--------------------------

In [ ]:
#STRING:

'''
--> String is a collection of charcters.
--> In Python there are 3 ways to create a String.
     1. Using Single Quotes: (' ')
     2. Using Double Quotes: (" ")
     3. Using Triple Quotes: ('''   ''')
--> String is Immuatble data.
--> String Support both indexing Positive & Negative


'''

In [ ]:
#Example:

s1='Amit'
s2="Amit"
s3='''Amit'''
s4="""Amit"""

print(s1,type(s1))
print(s2,type(s2))
print(s3,type(s3))
print(s4,type(s4))

Amit <class 'str'>
Amit <class 'str'>
Amit <class 'str'>
Amit <class 'str'>

In [ ]:
#String Operator:

'''
2 Types 
+ : It is used to concat 2 string.
* : It is use to multiply string with int.

'''

In [ ]:
#INDEX WITH STRING

s1='Hi, I am Amit'

#to get length of string
print('Length of String is: ', len(s1))

#to get index of string using positive side
print('Index at s1[7] = ', s1[7])
print('Index at s1[9] = ', s1[9])

#to get index of string using negative side
print('Index at s1[-7] = ', s1[-7])
print('Index at s1[-9] = ', s1[-9])

Length of String is:  13
Index at s1[7] =  m
Index at s1[9] =  A
Index at s1[-7] =  a
Index at s1[-9] =  I

In [ ]:
## METHOD OF STRING IN DATA TYPES

'''

1. title(): Convert 1st letter of each word in capital case.
2.uppercase(): Convert entier string to capital
3. lowercase(): Convert eniter string to lower
4. capitalize(): Only do 1st letter capital of 1st word only.

'''

In [ ]:
#TITLE()

s1='Amit mahto'
print(s1.title())

Amit Mahto

In [ ]:
#UPPERCASE():

print(s1.upper())

AMIT MAHTO

In [ ]:
#LOWERCASE():

print(s1.lower())

amit mahto

In [ ]:
#CAPITALIZE():
print(s1.capitalize())

Amit mahto

In [ ]:
#SPLIT()

s2='Amit Rohan Jay Raj'
namelist=s2.split(' ')
print(namelist)

#to split any charcter
namelist=s2.split('a')
print(namelist)

['Amit', 'Rohan', 'Jay', 'Raj']
['Amit Roh', 'n J', 'y R', 'j']

In [ ]:
#JOIN():

s1='Raj'
s2='Amit'
s3='Jay'
s4='Ujwal'

s5=','.join([s1,s2,s3,s4])
print(s5)

s6=' '.join([s1,s2,s3,s4])
print(s6)

s7='#'.join([s1,s2,s3,s4])
print(s7)

Raj,Amit,Jay,Ujwal
Raj Amit Jay Ujwal
Raj#Amit#Jay#Ujwal

In [ ]:
#STARTSWITH(): 
#ENDSWITH():

email=input('Enter your Email-Id: ')
email=email.lower()
if email.endswith('@gmail.com'):     #if email.endswith('@gmail.com') and email.islower():
  print('Your Email is Valid! Go Forward')
else:
  print('Your Email is Invalid! Please Check Your Email')

Enter your Email-Id: mahtoamitg@Gmail.com
Your Email is Valid! Go Forward

In [ ]:
#Types of String:
'''
1.Plain String
2. Format String
3. Raw String
4. Binary String

'''

In [ ]:
#Plain String

name='Amit'
city='Mumbai'
age=23

s1='Hi, I am ' + name + ' and I stay in ' + city + '  My age is ' + str(age);
print(s1)

Hi, I am Amit and I stay in Mumbai  My age is 23

In [ ]:
#Format String
#String which preffix with f is known as format string
# It allows to access the variable using place holder. i.e {variable_name}

s2=f'Hi, I am {name}. I stay in {city}. My age is {age}.'
print(s2)

Hi, I am Amit. I stay in Mumbai. My age is 23.

In [ ]:
#RAW String
# --> The string which is preffix with r is known as RAW string
#--> It avoid nescape chracter

s3='c:\demo\hello.txt'
print(s3)

s4=r'c:\demo\test.txt'       #without r it will treat as \t which is know as tab
print(s4)


s5=r'c:\demo\new.txt'    #without r it will treat as \n which is know as new line
print(s5)

c:\demo\hello.txt
c:\demo\test.txt
c:\demo\new.txt

In [ ]:
#Binary String:
# --> The string which is preffix with b is known as binary string

s6=b'Amit'
print(s6)

b'Amit'

In [ ]:
#String with For LOOP

s1='Amit'
for i in s1:
  print(i)

A
m
i
t

In [ ]:
#WAP to accept name from user and print it in reverse order

name=input('Enter Your name: ')
length=len(name)
rev=''

for index in range(length-1,-1,-1):
  rev=rev+name[index]
print('Name: ', name)
print('Reverse of Name : ', rev)

Enter Your name: AMIT
Name:  AMIT
Reverse of Name :  TIMA