<a href="https://colab.research.google.com/github/mahtoamit/Python/blob/main/FEB23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#WAP to create a function which return and print square of a number 

def sq(n1):
  squ = n1**2
  print(f'Square of  {n1} is {squ} ')
  return squ
ans=sq(5)
print('Returened Value is',ans)

Square of  5 is 25
Returened Value is 25

# *Types of Parameters in Python*

In [ ]:
'''
    Types of Parameters in Python
    1. Required Parameter or Positional Parameter
    2. Optional Parameter
    3. *args (Special Symbol parameters) also known as Non- Keyword Argument
    4. **kwarg (Keyword Arguments)
'''

# 1. Required Parameter or Positional Parameter

In [ ]:
'''
  --> When we not assign any default value to the parameter then that parameter is known as Required Parameter.
       (i.e. above function is example of Required parameter)
 --> In required parameter value must be pass at the time of function calling.
'''

# 2.Optional Parameter

In [ ]:
'''
  --> When we declare a parameter with default value then it is known as optional parameter.
  --> In optional Parameter , it is not compulsory to pass the value because it use defalut value for calculationortherwise not.
  --> Optional parameter is always on right side of required parameter.
  --> Example :
             function_name(p1,p2,p3=value,p4=value)
             here p1,p2 are rquired parameter and p3,p4 are optional parameter
'''

In [ ]:
#EXAMPLE

def user(age,name='Anonymous'):
  print(f'Name:= {name} \n Age = {age}')
  #various ways to call a function
  
user(45)
user(23,'Raj')    #when we know the order of parameter in function
user(23,name='Raj')
user(age=23,name='raj')    # when  we dont known the order of parameter in function

#in above example function age is required and name is optional parameter

Name:= Anonymous
 Age = 45
Name:= Raj
 Age = 23
Name:= Raj
 Age = 23
Name:= raj
 Age = 23

# 3. *arg (Special Symbol parameters)

In [ ]:
'''
 *arg (Special Symbol parameters): 
 --> *arg is known as variable nnumber of argument. here in place of arg we can write any varible name just start with * . example *amit,*add,*sum
--> When the function parameter are start (prefix) with * is known *arg(variable number of argument)
--> At the time of calling it accept n number of values and store them into TUPLE Types.


'''

In [ ]:
#EXAMPLE without *args
def add(n1=0,n2=0):
  return n1+n2

print('Addition is :',add())
print('Addition is :',add(1))
print('Addition is :',add(1,2,3))

#In this given a error because above function we can pass the minimum 0 and maximum 2 number of paramter but if you want to pass n number of parameter we use *arg

Addition is : 0
Addition is : 1

TypeError: ignored

In [ ]:
#EXAMPLE With using *arg

def add(*n):           #used *arg
  ans = 0
  for i in n:
    ans +=i
  return ans
print('Addition is ', add())        
print('Addition is ', add(1))
print('Addition is ', add(1,2,4,5,7))

Addition is  0
Addition is  1
Addition is  19

In [ ]:
#EXAMPLE With using *arg also using built in function SUM(N)

def add(*n):           #used *arg
  return sum(n)
print('Addition is ', add())        
print('Addition is ', add(1))
print('Addition is ', add(1,2,4,5,7))

Addition is  0
Addition is  1
Addition is  19

In [ ]:
l1=[7,8,52,3,45,41,5641,45,61,45,41,5641,56,41]
print(l1)
print(l1[0],l1[1],l1[2],l1[3], sep=',')       #makes code lengthy
print(*l1, sep=',')         #makes code easy shortcut

'''
   When we want to pass each value of iterable types as parameter to the function we use * with iterable object as above
'''

[7, 8, 52, 3, 45, 41, 5641, 45, 61, 45, 41, 5641, 56, 41]
7,8,52,3
7,8,52,3,45,41,5641,45,61,45,41,5641,56,41

# 4. **kwargs (Keyword Arguments)

In [ ]:
'''
  --> **kwargs stands for Keyword number of argument.
  --> It is used to pass n number of value to the function in the form of keyword=value (i.e pair)
  --> When we want to pass multiple values to the function with lable we use kwargs



'''

In [ ]:
#EXAMPLE

def stdinfo(**std):
  print('Student Information ')
  for key,value in std.items():
    print(key, '=', value)
stdinfo(sid=7,sname='Raj Sharma', sdept='Mech',sdob= '10 June 1999')

Student Information
sid = 7
sname = Raj Sharma
sdept = Mech
sdob = 10 June 1999

In [ ]:
#EXAMPLE- when 2 parameter is compulsory

def stdinfo(**std):
  if len(std)>2:
    print('Student Information ')
    for key,value in std.items():
       print(key, '=', value)
  else: 
    print('Enter more than 2 parameters')

stdinfo(sid=7,sname='Raj Sharma')

Enter more than 2 parameters

# Types of Function

In [ ]:
'''
  Types of Function
  1. Normal Function OR General Function
  2. Lambda Function

'''

#  1. Normal Function OR General Function

In [ ]:
'''
 --> When we define a function using def keyword is known as Normal function.
 --> Normal function are named function, and it contain multiple lines of body.
 --> Previous all program are example of normal function
'''

# 2. Lambda Function

In [ ]:
'''
--> When we define a function using lambda keyword is known as lambda function.
--> Lambda function define without name and it contain single line of body.
--> Lambda function is also known as Anonymous Function in PYTHON.
--> It is also known as Inline Function.
--> It are used as argument to pass any another function.
--> It stored in a variable as a value.
--> It returns the value implicitly (automatically) 
--> SYNTAX:
             variable_name = lambda parameter:expression

'''

In [ ]:
#EXAMPLE

sq = lambda n:n**2
print('Square is : ', sq(3))

Square is :  9

In [ ]:
sq = lambda n:n**3
print('Cube is : ', sq(3))

Cube is :  27

In [ ]:
add = lambda n1,n2:n1+n2
print('Addition is : ', add(3,6))

Addition is :  9