<a href="https://colab.research.google.com/github/mahtoamit/Python/blob/main/FEB21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#SLICE
'''
--> Slice not happen in dict and sets.
--> Slicing is a shorter to fetch the multiple values from list,tuple and string with specific range of index.
--> In another words we can say slicing is used to create sublist ,subtuple and substring with the help of existing object.
--> SYNTAX: variable_name(startindex:endindex:step)
-->          here
                default step is 1.
                if step is positive then start index is 0 and end index=length.
                if step is negative then start index is -1 and end index=-length-1.
                (i.e. Reverse Order)
'''

#In List
list=[45,33,2,45,63,748,41,56]
print('MyList: ', list)

print('MyList (2:5): ', list[2:5])

MyList:  [45, 33, 2, 45, 63, 748, 41, 56]
MyList (2:5):  [2, 45, 63]

In [ ]:
#In Tuple:

tup=(45,33,2,45,63,748,41,56)

print('MyList (2:5): ', tup[2:5])

MyList (2:5):  (2, 45, 63)

In [ ]:
#In String

a='AMIT MAHTO'
print('Slice (4:8): ', a[2:5])

Slice (4:8):  IT

In [ ]:
li=[45,33,2,45,63,748,41,56]
print('MyList (::1): ', li[::1])
print('MyList (::-1): ', li[::-1])  #reverse order

print('MyList (::2): ', li[::2])
print('MyList (::-2): ', li[::-2])

MyList (::1):  [45, 33, 2, 45, 63, 748, 41, 56]
MyList (::-1):  [56, 41, 748, 63, 45, 2, 33, 45]
MyList (::2):  [45, 2, 63, 41]
MyList (::-2):  [56, 748, 45, 33]

In [ ]:
#Reverse by letters
b='AMIT MAHTO'
print('Name (::1): ', b[::1])
print('Name (::-1): ', b[::-1])   #reverse order
print('Name (::2): ', b[::2])
print('Name (::-2): ', b[::-2])

Name (::1):  AMIT MAHTO
Name (::-1):  OTHAM TIMA
Name (::2):  AI AT
Name (::-2):  OHMTM

In [ ]:
#reverse by word

c='I love Python'
word=c.split(' ')
reverse=word[::-1]
reversejoin=' '.join(reverse)

print('Orignal Input is: ', c)
print('After using split method: ',word)
print('After doing reverse of above: ',reverse)
print('After joining the reverse: ', reversejoin)

Orignal Input is:  I love Python
After using split method:  ['I', 'love', 'Python']
After doing reverse of above:  ['Python', 'love', 'I']
After joining the reverse:  Python love I

In [ ]:
#Shortcut
name=input('Enter a sentence to reverse it :')
rev=' '.join(name.split(' ')[::-1])
print(rev)
print(rev.title())

Enter a sentence to reverse it :amit mahto
mahto amit
Mahto Amit

In [ ]:
#COMPREHENSION 
'''
--> It is a shorter syntax when we want to create new list,set od dictionary based on the value of existing iterable object.
--> There are 3 types of comprehension
      1. List Comprehension
          syntax: 
               list_variable=[expression for values in iterable if condition]
      2. Set Comprehension
              syntax: 
                      set_variable={expression for values in iterable if condition}
      3. Dictionary Comprehension
             syntax: 
                      dict_variable={expkey:expvalue for values in iterable if condition}
      
'''

#Without using Comprehension
#WAP To create and print even list from existing list

l1=[4,5,669,7,65,66,2,541,444,333,111]
evenlist=[]

for value in l1:
  if value%2==0:
    evenlist.append(value)
print('Even List is :', evenlist)

Even List is : [4, 66, 2, 444]

In [ ]:
#LIST COMPREHENSION
#EVEN LIST
lc=[9,56,33,22,11,5652,54163,523,0]
evenlist=[value for value in lc if value%2==0]
print('Even List are: ', evenlist)

#ODD LIST
oddlist=[value for value in lc if value%2!=0]
print('Odd List are: ', oddlist)

#SQUARE LIST
squarelist=[value**2 for value in lc]
print('SQUARE List are: ', squarelist)

#SQUARE LIST of even number
sqlist=[value**2 for value in lc if value%2==0]
print('SQUARE List of Even are: ', sqlist)

Even List are:  [56, 22, 5652, 0]
Odd List are:  [9, 33, 11, 54163, 523]
SQUARE List are:  [81, 3136, 1089, 484, 121, 31945104, 2933630569, 273529, 0]
SQUARE List of Even are:  [3136, 484, 31945104, 0]

In [ ]:
#SET COMPREHENSION

sc=[7,88,56,3,25,66,77]
sqsets={value**2 for value in sc}
print(sqsets)

{7744, 3136, 4356, 9, 5929, 49, 625}

In [ ]:
#DICT COMPREHENSION

dc=[7,8,9,6,62,3,612,258]

#wap to create dictionary of eelement as key and sqaure as values of above list

sqdict={value:value**2 for value in dc}
print('Square using dict: ',sqdict)

Square using dict:  {7: 49, 8: 64, 9: 81, 6: 36, 62: 3844, 3: 9, 612: 374544, 258: 66564}

In [ ]:
#wap to convert given list into dictionary with index of element as key and element itselef as value

l1=['RAJ','AJAY','PRIYA','JAY']

d1={l1.index(value):value for value in l1}
print(d1)

{0: 'RAJ', 1: 'AJAY', 2: 'PRIYA', 3: 'JAY'}