<a href="https://colab.research.google.com/github/mahtoamit/Python/blob/main/FEB21(HW).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
'''

Set

a = {1,2,3,4,5}
b = {3,4,5,6,7,8,9}

Q1. Write a code to perform union operation on a and b set
Q2. Write a code to perform intersection operation on set a and b
Q3. Write a code to add 6, in set a

'''

In [ ]:
#Q1

a = {1,2,3,4,5}
b = {3,4,5,6,7,8,9}

c=a.union(b)
print('After Union we get - ', c)

After Union we get -  {1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
#Q2

c=a.intersection(b)
print('After Intersection we get - ',c)

After Intersection we get -  {3, 4, 5}

In [ ]:
#Q3
a.add(6)
print('Adding value 6 in set A : ', a)

Adding value 6 in set A :  {1, 2, 3, 4, 5, 6}

In [ ]:
#List

In [ ]:
#Q1 - write a code to add a element 'eleven' , inside list at the end
# output-:[2,4,6,8,10,'eleven']

x = [2,4,6,8,10]
x.append('eleven')
print('Adding eleven at the end of list',x)

Adding eleven at the end of list [2, 4, 6, 8, 10, 'eleven']

In [ ]:
#Q2.perform an operation to get the following output
#output-: ['one', 2, 4, 6, 8, 10, 'eleven']

x = [2, 4, 6, 8, 10, 'eleven']
x.insert(0,'one')
print('Adding one at the index 0 in list: ',x)

Adding one at the index 0 in list:  ['one', 2, 4, 6, 8, 10, 'eleven']

In [ ]:
#Q3.perform an operation to merge the list y inside list x
#y= [12,13,14]
#output-: ['one', 2, 4, 6, 8, 10, 'eleven', 12, 13, 14]

x=['one', 2, 4, 6, 8, 10, 'eleven']
y= [12,13,14]
x.extend(y)
print('Merging Y in X : ',x)

Merging Y in X :  ['one', 2, 4, 6, 8, 10, 'eleven', 12, 13, 14]

In [ ]:
#Q4.perform an operation to get the following output
#output-: [14, 13, 12, 'eleven', 10, 8, 6, 4, 2, 'one']

x=['one', 2, 4, 6, 8, 10, 'eleven', 12, 13, 14]
print('Reverse of the list : ', x[::-1])

Reverse of the list :  [14, 13, 12, 'eleven', 10, 8, 6, 4, 2, 'one']

In [ ]:
#Q5.Perform one single operation to remove 'eleven', 10, 8 all together at once
#output-: [14, 13, 12, 6, 4, 2, 'one']

x=[14, 13, 12, 'eleven', 10, 8, 6, 4, 2, 'one']
del x[3:6]
print('Removed multiple elements from list',x)

Removed multiple elements from list [14, 13, 12, 6, 4, 2, 'one']

In [ ]:
#Q6.write a code to remove 'one' element from the list
#output-: [14, 13, 12, 6, 4, 2]

x=[14, 13, 12, 6, 4, 2, 'one']
x.pop()
print('REMOVED LAST VALUE:', x)

REMOVED LAST VALUE: [14, 13, 12, 6, 4, 2]

In [ ]:
#Q7.write a code to get the following output
#x = ["hey","there","hello","world"]
#y= " "
#output-: 'hey there hello world'

x = ["hey","there","hello","world"]
y= " "
' '.join(x)

'hey there hello world'