<a href="https://colab.research.google.com/github/mahtoamit/Python/blob/main/FEB22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**FUNCTION**

In [ ]:
'''
--> Function is a name of block code which is use to execute specific task.
Benifits of Functions:
1. Function are use to divide larger program into smaller one.
2. Function are use to achive code reusability.

There are 2types of function in PYTHON
1. Built-in-function.
2. User-define-function also known as Custom Function.

                                                                  ----------------------BULIT-IN-FUNCTION----------------------------
       -->The function provided by python itself is known as built-in-function
       --> Built-in-function are directly use program.
       --> Example: print(),input(),type(),int()......
       --> sum(): Used to perform summation of two numbers also use iterable object.
'''

In [ ]:
print(sum([9,9]))

18

In [ ]:
print("Addition of set values",sum({9,8}))

Addition of set values 17

In [ ]:
print('Addition of tuple values',sum((9,9)))

Addition of tuple values 18

In [ ]:
l1=[7,8,9,63,25,00,6,886,65,85]
print('Maximum Number from List is: ', max(l1))
print('Minimum Number from List is: ', min(l1))
print('Sumation  of List is: ', sum(l1))
print('sorted  of List is: ', sorted(l1,reverse=True))

Maximum Number from List is:  886
Minimum Number from List is:  0
Sumation  of List is:  1154
sorted  of List is:  [886, 85, 65, 63, 25, 9, 8, 7, 6, 0]

In [ ]:
'''
          SORT                                                           |              SORTED

1. It is a sort method of list type                            | 1. It is a sorted method of  core python library
2. After sorting it returns the NONE                      | 2.  After sorting it returns the NEW LIST  
3. sort method modify the Orginal List                  | 3. Sorted method does not modify the orignal list
4. Sort is used with only and only list object         | 4. Sorted method sort the iterable object.
5. Example: Shown below                                     | 5. Example: Shown below


'''

In [ ]:
#SORT

l2=[7,5,2,3,965,54,63]
print(l2)
print(l2.sort(reverse=True))
print (l2)

[7, 5, 2, 3, 965, 54, 63]
None
[965, 63, 54, 7, 5, 3, 2]

In [ ]:
#SORTED

l2=[7,5,2,3,965,54,63]
print(l2)
print(sorted(l2,reverse=True))
print (l2)

[7, 5, 2, 3, 965, 54, 63]
[965, 63, 54, 7, 5, 3, 2]
[7, 5, 2, 3, 965, 54, 63]

In [ ]:
'''
USER DEFINE FUNCTION

--> The function which define/create by user as per the requirements is know as user define functions.
--> Every python function by default it return NONE VALUE.

       SYNTAX (for function defenation): def()
              def function_name(parameters list if any)
                statement to be execute when function is call.
                *****
                ***

        SYNTAX (for function calling/invoking):
            function_name(value for parameters)

'''

# 1. No parameters and no return

In [ ]:
#Example
#No parameters and no return
def sayhello():
  print('Hello Everyone!!!!!!!!!!!')
  print('How are You?.........')


sayhello()             #calling the function
sayhello()             #calling the function

a=sayhello()  
print(a)

Hello Everyone!!!!!!!!!!!
How are You?.........
Hello Everyone!!!!!!!!!!!
How are You?.........
Hello Everyone!!!!!!!!!!!
How are You?.........
None

# 2. Parameter with No return value.

In [ ]:
#2ND Writing style - Paramter with No return value.

def welcomeuser(name):                  #we have added name as a parameter here
  print('Welcome to ItVedant........')
  print('Hello', name)

welcomeuser('Amit')

#pass to value to the function as keyword argument
welcomeuser(name='Rahul')               #keyword argument

Welcome to ItVedant........
Hello Amit
Welcome to ItVedant........
Hello Rahul

# 2. Parameter with No return value.

In [ ]:
#wap to create a function with user data which accept name and age and print it in proper format
#2ND Writing style - Paramter with No return value.

def userdata(name,age):
  print(f'Hello, My Name is {name} and My age is {age} years old.')
  print('Thank You...!!!!!')

userdata('AMIT',23)
userdata(23,'AMIT')

userdata(age=23,name='AMIT')    #using keyword arguments

Hello, My Name is AMIT and My age is 23 years old.
Thank You...!!!!!
Hello, My Name is 23 and My age is AMIT years old.
Thank You...!!!!!
Hello, My Name is AMIT and My age is 23 years old.
Thank You...!!!!!

In [ ]:
'''
 Return Statement:

 --> Return statement is used to return some values from function.
 --> It return single value of any type it may be int,float,list,tuple etc.
 --> It return multiple values seperated by comma, and it is consider as TUPLE.
 --> It is also use to stop the execution of function.
'''

# 3. No Parameter With Return Value

In [ ]:
#Example of Return Function

def f1():
  print('Hello this is my Sample Function')
  return [7,2]
  print('Hiii')       #it will not give output because we have print it after return

a=f1()
print('a: ', a,type(a))

Hello this is my Sample Function
a:  {} <class 'dict'>

In [ ]:

def f2():
  print('Hello this is another Sample Function')
  return [4,5],[1,7]

a=f2()
print('a: ',a,type(a))

Hello this is another Sample Function
a:  ([4, 5], [1, 7]) <class 'tuple'>

# 4. Parameter with Return Value

In [ ]:
#WAP to craete a function which accept 2 numbers from user and returns it addition

def f3(num1,num2):
  return num1+num2
ans=f3(7,3)
print('Addition is :', ans)

Addition is : 10