<a href="https://colab.research.google.com/github/mahtoamit/Python/blob/main/Formula_List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 Even Number

In [ ]:
n%2==0

Odd Number

In [ ]:
n%2!=0    or  n%2==1

Factorial Number

In [ ]:
'''
-->The factorial of a number is the product of all the integers from 1 to that number.
-->For example, the factorial of 6 is 1*2*3*4*5*6 = 720.
'''
def fact(n):
    if n == 0:
        return 1
    else:
        return n * fact(n-1)
n=int(input("Input a number to compute the factiorial : "))
print(fact(n))

Simple Interest

In [ ]:
'''
-->The formula used is Simple_interest = (principal*rate*time)/100
'''

Compound Interest

In [ ]:
'''
-->Compound_interest = principal * ((1+rate/100)**time â€“ 1)
'''

Armstrong Number

In [ ]:
'''
-->Armstrong number is a number that is equal to the sum of cubes of its digits. For example 0, 1, 153, 370, 371 and 407 are the Armstrong numbers.
'''
num=int(input('enter number:'))
sum = 0
# find the sum of the cube of each digit
temp = num
while temp > 0:
   digit = temp % 10
   sum += digit ** 3
   temp = temp // 10

# display the result
if num == sum:
   print(num,"is an Armstrong number")

Prime Number

In [ ]:
'''
--> A positive integer greater than 1 which has no other factors except 1 and the number itself is called a prime number. 2, 3, 5, 7 etc. are prime numbers as they do not have any other factors.
'''
num=int(input('enter number:'))
if num > 1:
   # check for factors
   for i in range(2,num):
       if (num % i) == 0:
           print(num,"is not a prime number")
           print(i,"times",num//i,"is",num)
           break
   else:
       print(num,"is a prime number")
       
# if input number is less than
# or equal to 1, it is not prime
else:
   print(num,"is not a prime number")

Fibonacci Number

In [ ]:
'''
-->Fibonacci sequence specifies a series of numbers where the next number is found by adding up the two numbers just before it.
'''

def fibonacci(n):
    a = 0
    b = 1
    if n < 0:
        print("Incorrect input")
    elif n == 0:
        return a
    elif n == 1:
        return b
    else:
        for i in range(2, n):
            c = a + b
            a = b
            b = c
        return b
 
# Driver Program
 
print(fibonacci(9))

Natural Number

In [ ]:
'''
-->As the name specifies, a natural number is the number that occurs commonly and obviously in the nature. It is a whole, non-negative number.
'''


# Sum of natural numbers up to num

num = 16

if num < 0:
   print("Enter a positive number")
else:
   sum = 0
   # use while loop to iterate until zero
   while(num > 0):
       sum += num
       num -= 1
   print("The sum is", sum)

Perfect Number

In [ ]:
'''
--> A perfect number is a number in which the sum of the divisors of a number is equal to the number.
'''

    def perfect_number(n):
    sum = 0
    for x in range(1, n):
        if n % x == 0:
            sum += x
    return sum == n
print(perfect_number(6))

Palindrome String

In [ ]:
'''
--> A palindrome is a number or letter that remains the same even if the number and letters are inverted.
--> For example:
--> 121, 11, 414, 1221, 74747 are the palindrome numbers.
--> MOM, DAD, MADAM, REFER are the palindrome letters.
--> JAVATPOINT, PROGRAM, JAVA are not the palindrome letters.
'''


string=input(("Enter a letter:"))  
if(string==string[::-1]):  
      print("The letter is a palindrome")  
else:  
      print("The letter is not a palindrome")

Palindrome Number

In [ ]:
num = int(input("Enter a value:"))  
temp = num  
rev = 0  
while(num > 0):  
    dig = num % 10  
    revrev = rev * 10 + dig  
    numnum = num // 10  
if(temp == rev):  
    print("This value is a palindrome number!")

Swap number

In [ ]:
#with using 3rd var

n=n1
n1=n2
n2=n

#without using 3rd variable

n1=n1+n2
n2=n1-n2
n1=n1-n2

#without any variable

n1,n2=n2,n1

Neon Number

In [ ]:
'''
--> Neon Number is a number whose sum of digits of its square is equal to the original number.
'''

n = int(input('Enter the Number to Check Neon Number : '))
sum = 0

sq=n**2
print('Square of a Given Digit : ' , sq)

while sq > 0:
    rem = sq % 10
    sum = sum + rem
    sq = sq // 10

print('The Sum of the Digits   :', sum)

if sum == n:
    print(n, 'is a Neon Number.')
else:
    print(n, 'is not a Neon Number.')

Reverse Number

In [ ]:
num = 1234
rev = 0

while num != 0:
    digit = num % 10
    rev = rev* 10 + digit
    num //= 10

print("Reversed Number: " + str(rev))

Leap Year

In [ ]:
year = int(input("Enter a year: "))

if (year % 400 == 0) and (year % 100 == 0):
    print("{0} is a leap year".format(year))
elif (year % 4 ==0) and (year % 100 != 0):
    print("{0} is a leap year".format(year))
else:
    print("{0} is not a leap year".format(year))

3 Largest Number

In [ ]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
num3 = float(input("Enter third number: "))

if (num1 >= num2) and (num1 >= num3):
   largest = num1
elif (num2 >= num1) and (num2 >= num3):
   largest = num2
else:
   largest = num3

print("The largest number is", largest)

Positive, Negative, Zero

In [ ]:
num = float(input("Enter a number: "))
if num > 0:
   print("Positive number")
elif num == 0:
   print("Zero")
else:
   print("Negative number")