<a href="https://colab.research.google.com/github/mahtoamit/Python/blob/main/pattern.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#INCREASING TRAINGLE

n=int(input('Enter the number of rows: '))

for row in range(1,n+1):    #outer for loop - used for rows
   for col in range(1,row+1):   #inne for loop - used for columns
      print('*', end=' ')
   print()

Enter the number of rows: 7
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

In [ ]:
#DECREASING TRAINGLE

n=int(input('Enter the number of rows: '))

for row in range(1,n+1):
   for col in range(row,n):
      print('*', end=' ')
   print()

Enter the number of rows: 7
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
#RIGHT TRIANGLE

n=int(input('Enter the number of rows: '))
for row in range(n):
    for space in range(row,n):
        print(' ',end=' ')
    for col in range(row+1):
        print('*',end=' ')
    print()

Enter the number of rows: 7
              *
            * *
          * * *
        * * * *
      * * * * *
    * * * * * *
  * * * * * * *

In [ ]:
#Left Triangle

n=int(input('Enter the number of rows: '))
for row in range(1,n+1):
    for space in range(row+1):
        print(' ',end=' ')
    for col in range(row,n):
        print('*',end=' ')
    print()

Enter the number of rows: 7
    * * * * * *
      * * * * *
        * * * *
          * * *
            * *
              *

In [ ]:
#HILL PATTERN

n=int(input('Enter the number of rows: '))
for row in range(n):
    for space in range(row,n):
        print(' ',end=' ')
    for col in range(row):        #here we added only row because to make a peak of mountain we reduce 1 column
        print('*',end=' ')
    for col2 in range(row+1):
         print('*',end=' ')
    print()

Enter the number of rows: 7
              *
            * * *
          * * * * *
        * * * * * * *
      * * * * * * * * *
    * * * * * * * * * * *
  * * * * * * * * * * * * *

In [ ]:
#reverse hill pattern

n=int(input('Enter the number of rows: '))
for row in range(n):
    for space in range(row+1):
        print(' ',end=' ')
    for col in range(row,n-1):        #here we added only n-1 because to make a peak of mountain we reduce 1 column
        print('*',end=' ')
    for col2 in range(row,n):
         print('*',end=' ')
    print()

Enter the number of rows: 7
  * * * * * * * * * * * * *
    * * * * * * * * * * *
      * * * * * * * * *
        * * * * * * *
          * * * * *
            * * *
              *

In [ ]:
#DIAMOND PATTTERN

n=int(input('Enter the number of rows: '))
for row in range(n-1):          #here we added only n-1 because to make a MIDDLE  peak of mountain we reduce 1 ROW
    for space in range(row,n):
        print(' ',end=' ')
    for col in range(row):       
        print('*',end=' ')
    for col2 in range(row+1):
         print('*',end=' ')
    print()

for row in range(n):
    for space in range(row+1):
        print(' ',end=' ')
    for col in range(row,n-1):        
        print('*',end=' ')
    for col2 in range(row,n):
         print('*',end=' ')
    print()

Enter the number of rows: 7
              *
            * * *
          * * * * *
        * * * * * * *
      * * * * * * * * *
    * * * * * * * * * * *
  * * * * * * * * * * * * *
    * * * * * * * * * * *
      * * * * * * * * *
        * * * * * * *
          * * * * *
            * * *
              *

In [ ]:
#DIAMOND STAR

for row in range(1,4):
    for col in range(1,4):
        if (row+col)%2==1:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

  *
*   *
  *

In [ ]:
#WAP to print X with star
#n=int(input('Enter the number of stars you want in 1 row: '))
#this logic will only work for 3*3 matrix
for row in range(1,4):
    for col in range(1,4):
        if (row+col)%2==0:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

*   *
  *
*   *

In [ ]:
#WAP to print * in diagonal from first row and column to last row and column
for row in range(1,6):
    for col in range(1,6):
        if row==col:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

*
  *
    *
      *
        *

In [ ]:
#WAP to print * in diagonal from first row and column to last row and column
for row in range(1,6):
    for col in range(1,6):
        if row+col==6:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

        *
      *
    *
  *
*

In [ ]:
#WAP to print square with *
for row in range(1,4):
    for col in range(1,4):
        print(row,col,sep='',end=' ')
    print()

11 12 13
21 22 23
31 32 33

In [ ]:
#SORTCUT TIPS AND TRICK

n=int(input('enter the number of rows: '))
for i in range(1,n+1):
  print(' * '*i)

enter the number of rows: 8
 *
 *  *
 *  *  *
 *  *  *  *
 *  *  *  *  *
 *  *  *  *  *  *
 *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *

In [ ]:
#NOTES:

# for col in range(1,row+1): = for increasing traingle from left we usse this syntax 
# for col in range(row,n):   = for decreasing traingle from left we usse this syntax 

#  for col in range(row+1):  = for increasing traingle from right we usse this syntax 
#  for col in range(row,n-1):  = for decreasing/remove/delete one column we use this syntax